page-about-team {

    
  .font{
    font-size:large;
    font-family: 'Droid Arabic Kufi', serif;
    color: white;
    font-style: normal;
    }

    .muhammed{
        border: 2px solid #dc5748 !important;
    }
    .islam{
        border: 2px solid #29888e !important;
    }
    .aliaa{
        border: 2px solid #d2692a  !important;
    }
    .ahmed{
        border: 2px solid #447dd6 !important;
    }

}
