<ion-content  class="all font" >

    <ion-grid class="grid1">
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/WishW.png" alt="" id="wishA" srcset="">
          </ion-col>
          <ion-col col-9 >
              <ion-searchbar placeholder=".. بحث عن امنية" (ionInput)="getItems($event)"></ion-searchbar>
         </ion-col>
        </ion-row>
    </ion-grid>

<div class="cardtest font" >
  <div  *ngFor= 'let user of myObjectuser' dir="rtl" >
      <ion-list  *ngFor= 'let item of myObject' >
        <ion-item class="items lable" *ngIf="item[1]['uidUser'] == user[1]['uid'] ">
          <ion-thumbnail item-start>
              <img class="imageWish"  src="https://firebasestorage.googleapis.com/v0/b/wish-74721.appspot.com/o/Wish%2F{{item[1]['image']}}.jpg?alt=media&token=a38693c5-c741-4ff4-8032-149363fbb4df">
          </ion-thumbnail>
          <div class="lable">

            <h3> {{item[1]['title']}}</h3>
            <p> {{item[1]['subject']}}</p>
            
          </div>
          
          <ion-icon *ngIf="item[1]['status'] == true " item-end style="color:#f93434" md="md-checkmark-circle"></ion-icon>
            <button ion-button clear item-end (click)="ProfileSelected(
              user[1]['key'],
              user[1]['name'], 
              user[1]['email'], 
              user[1]['phone'], 
              user[1]['province'],
              user[1]['age'],
              user[1]['image'],
              user[1]['uid'],
              user[1]['admin'],
              item[1]['key'],
              item[1]['uidUser'],
              item[1]['title'],
              item[1]['subject'],
              item[1]['image'],
              item[1]['status'])
        ">المزيد
      </button>
      
 
      </ion-item>
  </ion-list>

  </div>
</div>
</ion-content>
