page-map-edit {
    .font{
        font-size: large !important;
      font-family: 'Droid Arabic Kufi', serif !important;
      text-align: right !important;
      
      }
  
     .hederr{
      .toolbar-background{
        background: #0060a3;
      }
      .toolbar-title{
        text-align: right;
        color: white;
      }
      .back-button{
        color: white;
      }
     }


}
